:root {
  --grey: #f2f1f6;
  --pink: #fb4374;
  --white: #ffffff;
  --titleClr: #21435d;
  --pragraphClr: #c0c5c8;
  --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --borderClr: antiquewhite;

  --bluegray: #011144;
  --primary: #5a020cce;
  --hover: #71131eee;
  --btn-clr: #ffc107;
  --gray: #617d98;
  --graydark: #343a40;
  --white: #fff;
  --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Single Blog Content */

.singleBlogSec {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 70px;
}
.singleBox {
  border: 1px solid var(--borderClr);
}
.singleBox img {
  width: 100%;
  height: 500px;
}
.singleInfo {
  padding: 30px;
}
.singleInfo h3 {
  margin: 20px 0;
  font-size: 25px;
}
.writer {
  margin: 20px 0;
  font-size: 17px;
}
.writer span {
  color: var(--pink);
}
.writer span:hover:nth-child(2) {
  color: var(--titleClr);
  cursor: pointer;
}
.fullContent {
  color: #343a40;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.5rem;
}

/* SideBar */
.singleBlgSideBar {
  padding: 25px;
  border-radius: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.category {
  /* background-color: #ebecf0; */
  padding: 20px;
}

@media screen and (max-width: 992px) {
  .singleBlogSec {
    grid-template-columns: 1fr;
  }
}

/* Start Single Post Comment */
.sp-comment {
  margin-top: 1.5rem;
  border: 1px solid var(--borderClr);
  padding: 20px;
}
.comment-title {
  color: var(--crimson2);
  margin-bottom: 1rem;
}
.sp-comment form textarea {
  width: 100%;
  height: 180px;
  resize: vertical;
  margin-top: 1rem;
  border-radius: 0;
}

.sp-comment .comment-input {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 20px;
}
.sp-comment .c-name input {
  width: 100%;
  padding: 10px;
}
.sp-comment .c-email input {
  width: 100%;
  padding: 10px;
}
.sp-comment textarea {
  padding: 10px;
}

.sp-comment input:focus,
.sp-comment textarea:focus {
  outline: none;
  border: 2px solid var(--gray);
}

@media screen and (max-width: 600px) {
  .c-name {
    margin-bottom: 20px;
  }
}
/* End Single Post Comment */

/* Next And Old Post */
.newPost {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

/* Start SideBar */
/* Single Blog SearchForm */

.blg-sidebar-srch .search {
  width: 100%;
  position: relative;
  display: flex;
}
.blg-sidebar-srch .searchTerm {
  width: 100%;
  border: 3px solid var(--pink);
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
.blg-sidebar-srch .searchTerm:focus {
  color: var(--bluegray);
}
.blg-sidebar-srch .searchButton {
  width: 40px;
  height: 50px;
  border: 1px solid var(--btn-clr);
  border: 1px solid var(--pink);
  background: var(--pink);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.blg-sidebar-srch .searchButton:hover {
  background-color: var(--gray);
}

/* sideBar Category */
.categories,
.talk {
  margin-top: 60px;
}
.categories h2,
.talk h2 {
  color: var(--titleClr);
}
.sideBarCategory {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--pink);
}
.sideBarCategory a {
  color: var(--titleClr);
  margin-bottom: 10px;
}

/* sideBar Talk */
.talk p {
  color: #343a40;
  margin-top: 20px;
  font-size: 16px;
  line-height: 2rem;
}

.social-media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  justify-content: center;
  background: #e3edf7;
  padding: 20px;
}
.talkIcon {
  display: flex;
  background: #e3edf7;
  height: 50px;
  width: 50px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  transition: transform 0.5s;
}
.talkIcon i {
  font-size: 20px;
  color: #777777;
  transition: transform 0.5s;
}
.talkIcon:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.01);

  transform: translateY(2px);
}
.talkIcon:hover i {
  transform: scale(0.9);
}
.talkIcon:hover .fa-facebook {
  color: #3b5998;
}
.talkIcon:hover .fa-twitter {
  color: #00acee;
}
.talkIcon:hover .fa-instagram {
  color: #f14843;
}
.talkIcon:hover .fa-youtube {
  color: #ff0000;
}
/* END SideBar */
